{
	"CFBundleDevelopmentRegion" = en;
	CFBundleDisplayName = XBMC;
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	CFBundleIconFile = "icon57.png";
	CFBundleIdentifier = "com.djfumberger.xbmcremote";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleName = "${PRODUCT_NAME}";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	CFBundleVersion = "1.0";
	LSRequiresIPhoneOS = YES;
	NSMainNibFile = MainWindow;
}